
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

    <!-- Boostrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>
 <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }

        .container {
            text-align: center; 
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px; 
            width: 100%; 
        }

        label {
            font-weight: bold;
        }

        .btn-dark {
            color: #fff;
            background-color: #343a40;
            border-color: #343a40;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
        }

    </style>
<body>

	<div class="container">
		<h1>SUBIR OBRA</h1>
		<form action="index.php" method="post">
			<input type="hidden" name="m" value="Arte" />
			<input type="hidden" name="f" value="registroArte" />
            <input type="hidden" name="fechaDeCreacion" id="fechaDeCreacion" value="{{ fechaDeCreacion }}" />
            <input type="hidden" id="ID" name="ID" value="{{ _session['id_usuario'] }}" />
            <!-- Titulo -->
			<div class="row">
				<div class="col-xs-2">
					<label for="Titulo">Titulo: </label>
				</div>

				<div class="col">
					<input class="form-control" value="tituloo"
						   id="titulo" type="text" name="titulo" />
				</div>
			</div>
             <!-- tipoDeArte -->
			<div class="row">
				<div class="col-xs-2"> 
					<label for="TipoDeArte">Tipo de Arte: </label>
				</div>

				<div class="col">
					<input class="form-control" value="tipoDeArtee"
						   id="tipoDeArte" type="text" name="tipoDeArte" />
				</div>
			</div>
            <!-- Descripcion -->
			<div class="row">
				<div class="col-xs-2">
					<label for="Descripcion">Descripcion: </label>
				</div>

				<div class="col">
					<input class="form-control" value="descr"
						   id="descripcion" type="text" name="descripcion" />
				</div>
			</div>
           
            

           <!-- foto -->
<div class="row">
    <div class="col-xs-2">
        <label for="foto">Foto: </label>
    </div>

    <div class="col">
        <select class="form-control" id="foto" name="foto">
            <option value="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg/220px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg">Noche Estrellada</option>
            <option value="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Las_Meninas_01.jpg/1200px-Las_Meninas_01.jpg">Meninas</option>
            <option value="https://static01.nyt.com/images/2023/05/30/well/30WELL-ART-BRAIN-esp/30WELL-ART-BRAIN-superJumbo.jpg">Salud mental</option>
            <option value="https://hips.hearstapps.com/hmg-prod/images/caminante-64390e7409ef4.jpg?resize=640:*">Camino sobre un mar de nubes</option>
            <option value="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Fragonard%2C_The_Swing.jpg/1200px-Fragonard%2C_The_Swing.jpg">Columpio</option> 
            <option value="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/La_ronda_de_noche%2C_por_Rembrandt_van_Rijn.jpg/1200px-La_ronda_de_noche%2C_por_Rembrandt_van_Rijn.jpg">La ronda de noche</option> 
            <option value="https://ichef.bbci.co.uk/news/640/cpsprodpb/77A0/production/_99442603_retrato.jpg">Retrato</option>
        </select>
    </div>
</div>


            
			<div class="row mt-2">
				<div class="col">
					<button class="btn btn-dark w-25">Subir</button>
				</div>
			</div>

			
		</form>
	</div>
<pre>
</pre>

</body>
</html>