<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Form</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }

        .container {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px; /* Set the maximum width */
            width: 100%; /* Ensure responsiveness */
        }

        label {
            font-weight: bold;
        }
		h1 {
            margin-bottom: 20px; /* Add some space below the h1 */
        }

        /* Add more styles as needed */
    </style>
</head>

<body>

    <div class="container">
	<h1>ArtHub</h1>
        <form action="index.php" method="post">

            <input type="hidden" name="_csrf" value="{{ token }}" />
            <input type="hidden" name="m" value="usuario" />
            <input type="hidden" name="f" value="login" />

            <!-- Email -->
            <div class="row mb-3">
                <div class="col-xs-2">
                    <label for="Email">Email: </label>
                </div>

                <div class="col">
                    <input class="form-control" value="W@W" id="email" type="email" name="email" />
                </div>
            </div>

            <!-- Contraseña -->
            <div class="row mb-3">
                <div class="col-xs-2">
                    <label for="pass">Contraseña: </label>
                </div>

                <div class="col">
                    <input class="form-control" value="W" id="pass" type="password" name="pass" />
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-dark w-100">Enviar Datos</button>
                </div>
            </div>
             <div class="row mt-2">
                <div class="col">
                    <a href="index.php?m=usuario&f=ShowRegistro" class="btn btn-dark w-100">Registro</a>
                </div>
            </div>

        </form>
    </div>

</body>

</html>
